html, body {
    height: 100%;  /* Full height for the root elements */
    margin: 0;  /* Remove default margin */
    display: flex;
    flex-direction: column;  /* Makes the main container flex and column-oriented */
  }

  .app {  /* Assuming your main React app div has class 'app' */
    display: flex;
    flex-direction: column;
    min-height: 275vh;  /* Ensures that the app container is at least the height of the viewport */
    flex: 1;  /* Allows the container to expand with content */
  }

.app {  /* Assuming your main React app div has class 'app' */
    display: flex;
    flex-direction: column;
    flex: 1;  /* This will ensure that the app container can expand and contract as needed */
  }


footer {
    margin-top: auto;
    color: white; /* Light text */
    text-align: left; /* Align text to the left */
    padding: 20px; /* Padding around the content */
    font-size: 16px; /* Standard font size */
    line-height: 1.5; /* Adequate line spacing for readability */
}

footer a {
    color: #fff; /* Ensures links are also white */
    text-decoration: underline; /* Underlines links */
}

.disclaimer, .privacy-policy {
    margin-top: 10px; /* Adds space above each paragraph */
    color: #929292
}

/* Optionally, add a media query to handle smaller screens */
@media (max-width: 768px) {
    footer {
        text-align: center; /* Centers text on smaller screens */
    }
}
